menu "Birdbox Settings"

config BIRDBOX_AMPLIFY_GAIN
    int "Default volume (1-10)"
    default 1
    range 1 10

# Audio server configuration ---------------------------------------------------

config BIRDBOX_MP3_SERVER_URL
    string "Audio Server URL (format: http://[IP]:[PORT])"

# HA identity configuration -----------------------------------------------------------

config DEVICE_ID
    string "The Home Assistant device ID (lowercase)"
    default "bird_box"

config DEVICE_NAME
    string "The Home Assistant device name"
    default "Bird Box"

config MANUFACTURER
    string "The Home Assistant manufacturer name"
    default "Carbonaro"

config MODEL
    string "The Home Assistant model name"
    default "ESP32"

endmenu
