menu "Birdbox Settings"

config BIRDBOX_AMPLIFY_GAIN
    int "Default volume (1-10)"
    default 4
    range 1 10

config BIRDBOX_WAV_SERVER_URL
    string "WiFi Server URL (format: http://[IP]:[PORT])"

config BIRDBOX_WIFI_SSID
    string "WiFi SSID"

config BIRDBOX_WIFI_PASSWORD
    string "WiFi Password"

config BIRDBOX_MQTT_URI
    string "MQTT Uri (format: mqtt://[USER]:[PASSWORD]@[HOST]:[PORT])"

config BIRDBOX_MQTT_TOPIC
    string "MQTT topic"

config BIRDBOX_MQTT_MSG_PLAY
    string "MQTT message to indicate play"

config BIRDBOX_MQTT_MSG_PAUSE
    string "MQTT message to indicate pause"

endmenu
